ul,li{list-style: none;padding: 0;margin: 0;}
.commodity{width: 100%;background-color: #fff;}
.commodity p{padding-top:20px ;}
#commodity2{display: none;}
.password{width: 90%;height:50px;margin: auto;padding: 0;}
.password li{float: left;width:16.66%;height:50px;line-height:55px;border: 1px solid #dedede;text-align: center;font-size: 50px;}
.password_input{width: 1px;height:1px;padding: 0;margin:0 auto;border: 0;position: absolute;top: -100px;-webkit-text-security:disc;}

.mui-btn-primary{background: linear-gradient(to bottom right, #01D068,#02B887);border: none!important;margin-top: 30px;}